</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{global.request.basepath}}/assets/fullpagejs/jquery.fullpage.extensions.min.js"></script>
<script src="{{global.request.basepath}}/assets/fullpagejs/jquery.fullpage.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.0/TweenMax.min.js"></script>
<script src="{{global.request.basepath}}/assets/js/progressbar.js"></script>
<script src="{{global.request.basepath}}/assets/js/main.js"></script>
</body>

</html>
