<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CrackoParis</title>
  <link rel="stylesheet" href="{{ global.request.basepath }}/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{global.request.basepath}}/assets/fullpagejs/jquery.fullpage.css">
  <link rel="stylesheet" href="{{global.request.basepath}}/assets/css/main.css">
</head>

<body>
