{{ include('partials/header.twig') }}

<div id="container">

  <section class="sections section_commencer">
    <div class="sections_wrapper">
      <h1 class="title_commencer">CRACKOPARIS</h1>
      <p class="text_commencer">...</p>
      <a href="#" class="btns">COMMENCER</a>
    </div>
  </section>


</div>
<footer class="footer">
  <div class="wrapper-footer">
    <p>© Tous droits réservés</p>
  </div>
</footer>

{{ include('partials/footer.twig') }}
