{{ include('partials/header.twig') }}

    <div id="container" class="">

        <section class="sections section_commencer">
            <div class="sections_wrapper">
                <h1 class="title_commencer">CRACKOPARIS</h1>
                <p class="text_commencer"> Should You Take Prescription Medication For Anxiety Attacks</p>
                <a href="{{ url('chapter', {id: '1'}) }}" class="btns btn_commencer">
                    COMMENCER
                </a>
            </div>
        </section>


    </div>
    <footer class="footer">
        <div class="wrapper-footer">
            <p>© Tous droits réservés</p>
        </div>
    </footer>
    <script src='script.js'></script>

{{ include('partials/footer.twig') }}